[2017-10-26 13:57] htuch opened #56 "Support --include_source_info in native proto_library"
It's useful to be able to specify an optional inclusion of `source_code_info` in the proto descriptors generated by `proto_library`, for the purpose of documentation generation tools etc. I was working on an aspect that used the `proto_library` output descriptors, and this is stripped away. It's useful to strip by default, but it would be also good to have a param to `native.proto_library` that al

[2017-11-30 21:15] djudd-stripe opened #57 "Support --include_imports equivalent in proto_library"
### Description of the feature request:

We would find it useful to have an attribute on the native `proto_library` rule which causes it to behave like protoc when passed `--include_imports`, which would include all the transitive descriptor set contents in the output descriptor set. Supporting self-contained descriptor set outputs in this way would make it easier to write tooling that uses descri

[2018-02-19 14:07] iirina opened #58 "Avoid passing both the short and the long proto paths to protoc"
Currently for each `.proto` file Bazel passes to `protoc` the path relative to the workspace (the *long path*) via `-I` flag (alias for `--proto_path`).

Since 15a4362, Bazel also passes to `protoc` a *short path* via the `--proto_path` flag. The short path is only passed for `proto_library` targets that have set `proto_source_root`.

Passing to `protoc` both the *short* and the *long* path to a `

[2019-07-25 18:02] Yannic opened #5 "Add rules_proto to regression-checked bazel projects"
While maybe not the highest priority right now, this will be very important when we start adding rules and tools to this repo.

See https://github.com/bazelbuild/continuous-integration/issues/735

[2019-07-25 18:35] Yannic opened #6 "Add framework for writing lang_proto_library"
It would be very helpful to have a "framework" for writing `lang_proto_library`- or `lang_grpc_library`-rules.

Design goals:
  - Reduce complexity of such rules. Right now, they have to have a lot of domain knowledge about `proto_library`.
  - Reduce code duplication.
  - Powerful enough for Starlark implementations of `{cc,java}_proto_library` (See https://github.com/Yannic/rules_proto/issues/5

[2019-07-25 18:41] Yannic opened #7 "Add roadmap for rules_proto"
The goal is to rewrite the Protobuf rules in Starlark and remove the native ones, but it's going to be a long way to get there. We should define how this process could look like.

[2019-07-30 03:35] eordano commented on #7
In the meantime, we noticed you took out ts_proto_library from `rules_typescript`. May I ask why, if it's not released here already?

[2019-07-30 12:21] Yannic commented on #7
@eordano I do not know anything about `rules_typescript` and their objectives. `rules_proto` will be the home for language-independent rules for Protobuf, so `ts_proto_library` is out of scope for this repo.

That said, `rules_typescript` doesn't seem to have any user-facing rules these days. Maybe `ts_proto_library` was moved to `rules_nodejs`? https://github.com/bazelbuild/rules_nodejs/blob/8c14

[2019-08-13 05:37] qzmfranklin opened #16 "Why not use https://github.com/stackb/rules_proto"
https://github.com/stackb/rules_proto is an existing library that already has a lot of the features that this rules_proto repo should have.

It is built on top of aspects and does not use bind() anymore.

Maybe that is a good place to borrow things from.

[2019-08-13 05:43] qzmfranklin commented on #16
I saw that this repo is used by [protobuf](https://github.com/protocolbuffers/protobuf).

I'd say it is rather unfortunate that the proto-grpc rules are so fragmented:

https://github.com/pubref/rules_proto
https://github.com/stackb/rules_proto
https://github.com/protocolbuffers/protobuf
https://github.com/rules-proto-grpc/rules_proto_grpc

Out of these, I believe [rules_proto_grpc](https://github

[2019-08-13 10:03] Yannic commented on #16
Thank you for your concerns. We disagree.

This repo contains replacements for (currently) native rules and providers, and tools for writing `<lang>_proto_library` rules. It will not contain any actual `<lang>_proto_library`. They'll either live in `rules_<lang>`, or in `stackb/rules_proto` / `rules-proto-grpc/rules_proto_grpc`.

[2019-08-13 10:05] Yannic commented on #5
Added to downstream projects (bazelbuild/continuous-integration#798) -> Closing.

[2019-08-13 10:05] #5 closed

[2019-08-20 19:03] laurentlb opened #18 "Add //examples"
It would be useful to add/link to examples of use of the rules proto.

[2019-08-21 04:09] qzmfranklin commented on #16
I see, and I agree now.

Also, I was wrong in saying that stackb was using aspects. They are not. I'd wish this repo does the right thing by properly using aspects. There are many issues associated with not using aspects or not properly. I don't know when stackb will get fully ramped up with it.

I generally believe that Bazel rules for proto and grpc are a mess. Happy with the direction you broug

[2019-08-21 06:46] #16 closed

[2019-08-22 10:17] Yannic commented on #18
For now, we'll use https://blog.bazel.build/2017/02/27/protocol-buffers.html (https://github.com/bazelbuild/bazel-blog/pull/191) and https://github.com/cgrushko/proto_library as examples. I'll update the readme accordingly.

/label `documentation`, `enhancement`
/assign @Yannic

[2019-08-29 21:33] keith opened #19 "Bazel dependency mirror URLs are invalid"
Currently there are some dependency URLs in https://github.com/bazelbuild/rules_proto/blob/9cd4f8f1ede19d81c6d48910429fe96776e567b1/proto/private/dependencies.bzl#L48 that return 404s

Such as https://mirror.bazel.build/github.com/bazelbuild/rules_java/archive/166a046a27e118d578127759b413ee0b06aca3cd.tar.gz

[2019-08-29 22:13] Yannic commented on #19
The following script uploads the missing files to bazel-mirror.
I don't have write permissions to that gcs, somebody else has to take this on.

[code]

[2019-08-29 22:18] Yannic commented on #19
To avoid this error with future changes in `dependencies.bzl`, we should add a test that verifies all urls are valid.

/label `enhancement`
/assign @Yannic

[2019-09-18 08:27] pedrobisp opened #20 "googleapis pull request related to rules_proto"
Sorry to put this here, I know it belongs to the googleapi repositories - but I didn't find a way to reach the maintainers. I posted this https://github.com/googleapis/googleapis/pull/578 to prepare it for Bazel 1.0. We tested all incompatible flags on our end but are blocked by https://github.com/googleapis/googleapis/

Could you reach the maintainers and make them aware of this issue?

[2019-09-18 14:33] RNabel opened #21 "`import_prefix` only works when setting `strip_import_prefix=""` on targets defined in external dependency"
# Problem
protoc compilation fails when building a `proto_library` target defined in an external dependency which uses the `import_prefix` parameter.

# Expected behavior
Descriptor set compiles successfully.

# Workaround
Set `strip_import_prefix=""`

# Repro case
See .zip file. TL;DR Create `local_repository` with a single proto file defining at least one message, and add a `proto_library` targe

[2019-09-18 15:39] Yannic commented on #21
I'll look into it

//cc @hlopko we talked earlier about valid uses of `strip_import_prefix=""`.

[2019-09-18 15:44] Yannic commented on #20
@hlopko @lberki @laurentlb Can one of you handle this?

[2019-09-27 14:09] RNabel commented on #21
@Yannic did you get anywhere with this? Do you have a rough timeline?

[2019-10-08 17:34] Yannic commented on #19
Sorry for the delay!

@meteorcloudy @laurentlb @jin Could you please upload these files to bazel mirror? Thank you in advance!

  - https://github.com/protocolbuffers/protobuf/archive/c132a4aa165d8ce2b65af62d4bde4a7ce08d07c3.tar.gz
  - https://github.com/bazelbuild/rules_cc/archive/401380cd2279b83da0dcb86ecbac04a04805405b.tar.gz
  - https://github.com/bazelbuild/rules_java/archive/166a046a27e118d5

[2019-10-08 17:59] Yannic commented on #21
Sorry for the delay. I can reproduce it with 0.28/0.29, but not with 1.0.
Can you confirm updating to Bazel 1.0 (rc5) works for you?

[code]

[2019-10-09 08:43] meteorcloudy commented on #19
Done, the following links should be available:
"https://mirror.bazel.build/github.com/protocolbuffers/protobuf/archive/c132a4aa165d8ce2b65af62d4bde4a7ce08d07c3.tar.gz",
"https://mirror.bazel.build/github.com/bazelbuild/rules_cc/archive/401380cd2279b83da0dcb86ecbac04a04805405b.tar.gz",
"https://mirror.bazel.build/github.com/bazelbuild/rules_java/archive/166a046a27e118d578127759b413ee0b06aca3cd.tar.

[2019-10-11 18:10] hlopko commented on #19
What's left to do in order to close this issue? Yannic, do you consider adding the test as part of it?

[2019-10-11 18:13] hlopko opened #24 "Use @com_google_protobuf//:protobuf_deps.bzl to get protobuf dependencies."
Instead of maintaining a list of protobuf dependencies rules_proto should use the provided bzl file.

[2019-10-11 18:16] hlopko commented on #18
To be the Captain Obvious, these examples should be buildable and tested on the CI.

[2019-10-11 18:31] hlopko commented on #20
I'll see what I can do.

[2019-10-13 12:58] Yannic commented on #19
I considered adding a test but got worried that the network dependency makes it flaky and decided not to.

I don't have special permissions for this repo so I'll let others close this issue.

[2019-10-13 13:53] #19 closed

[2019-10-16 10:45] RNabel commented on #21
Yep, this is working on 1.0 :tada: Thanks for looking into this :)

[2019-10-16 10:45] #21 closed

[2019-10-18 12:43] Yannic opened #29 "Repo description should be "Protocol buffer rules for Bazel""
See https://docs.bazel.build/versions/master/skylark/deploying.html#hosting-and-naming-rules

[2019-10-18 13:44] hlopko commented on #29
Done :)

[2019-10-18 13:44] #29 closed

[2019-10-22 14:36] Yannic commented on #6
The generator API in the design doc required that all binding generators are protoc-plugins.

The main reasons for this decision were:
  - `proto_lang_toolchain` alone is insufficient for some languages. E.g., for C++, there are additional flags that influence the name of generated files (i.e. `foo.proto` -> `foo.pb.h` or `foo.proto.h`). To make it easier for users to use alternative generators, e

[2019-11-08 14:59] ribrdb opened #35 "proto_library should use the released binary of protoc instead of compiling it from source."
It's very annoying to have to wait to rebuild protoc when I haven' made any changes to it.

[2019-11-08 15:51] Yannic commented on #35
Thanks!

The tricky part here is that this could result in generating with protoc version x and using the proto runtime from version y, which may or may not be supported by the language (e.g. Java-Lite doesn‘t [1]).

I don‘t think we will implement this short term, but let‘s keep this open as tracking issue.

[1] https://github.com/protocolbuffers/protobuf/tree/master/java#compatibility-notice

[2019-11-08 15:54] Yannic commented on #35
Oh, wait. I was thinking of looking for a system-installed version of protoc.
Downloading a precompiled binary probably does not have the issue mentioned above.

[2019-11-10 18:50] ribrdb commented on #35
I tried implementing this here: https://github.com/bazelbuild/rules_proto/compare/master...ribrdb:binaries

It seems to work sometimes. But java_proto_library still triggers building protoc and I can't figure out why.

[2019-11-11 17:31] Yannic commented on #35
Awesome, I‘ll check it out next week. Would you mind creating a (draft) PR for it so we can have a discussion on the code?

I also need to think a bit about whether it would be better delaying this until after we‘ve finished migrating core proto rules to Starlark. I‘d rather not land things now just to revert them in a few month...

[2019-11-14 06:29] hlopko commented on #20
This took a while, but here we go: https://github.com/googleapis/googleapis/commit/bc76ffd87360ce1cd34e3a6eac28afd5e1efda76 :)

[2019-11-14 06:29] #20 closed

[2019-11-15 14:55] ribrdb commented on #6
I'm not sure I understand how this would work.
Is ProtoGenerator the provider that a lang_proto_toolchain would return? Or just a helper for implementing lang_proto_toolchain based on protoc?
Also what is _generate? It's private, is it intended to be a field on a provider similar to the compile field on go_proto_compiler? Is this intended to be called by lang_proto_library? How are you supposed to

[2019-11-15 15:06] ribrdb commented on #6
I don't think non-protoc based generators typically accept FileDescriptorSet as input. If you wan to transparently support both, don't you need to pass both the FileDescriptorSets and the .proto files for dependencies?

[2019-11-15 15:37] Yannic commented on #6
Yes, ProtoGenerator would be returned by lang_proto_toolchain.
_generate (exported as proto_common.generate) is a helper function for lang_proto_library rules that encapsulates calling protoc so lang_proto_library rules don‘t have to worry about all that `we may use a generator that is built into protoc, but our users may also want to use a custom protoc plugin to generate e.g. C++`, which at leas

[2019-11-15 15:49] ribrdb commented on #6
Oh, I misread "built into protoc" above. I thought you meant that foo_proto_library shouldn't assume that foo_proto_toolchain _uses_ protoc. But you're saying that cc_proto_library shouldn't assume that it's using the cc generator compiled into protoc. Sounds good.

[2019-12-02 09:44] abergmeier opened #39 "Bazel does not download"
When trying to use the rules via:

[code]

I get the error:

[code]

Testing the URL, it is really missing.

[2019-12-02 11:45] Yannic commented on #39
This is already fixed on master, which uses Protobuf 3.10. We should update the snipped on the readme after #37 and #38 land.

[2019-12-09 15:51] prestonvanloon opened #40 "How to define new proto_lang_toolchains?"
I'm wondering how to write and use new `proto_lang_toolchain`s.
Are there any examples or a design doc?

Related:
- https://github.com/bazelbuild/rules_go/issues/2266
- https://github.com/grpc-ecosystem/grpc-gateway/issues/1094#issuecomment-562910981

[2019-12-09 16:39] Yannic commented on #40
We don't have a new `proto_lang_toolchain` yet (and there probably won't be a `proto_lang_toolchain` as we know it from native after the migration because it's insufficient in some [maybe most] cases). We'll provide docs/guides how to write proto rules when we start implementing the functionality (Currently planing to get the plumbing done in Q1).

Design doc for the migration is here: https://doc

[2019-12-09 20:22] Yannic commented on #6
(just talking to myself here)

It seems like `protoc` has the nice `--<gen>_opt` options I wanted to use in the alternative design proposed in https://github.com/bazelbuild/rules_proto/issues/6#issuecomment-544994145 only for plugins and not for built-in generators :(. I guess that's an argument for the "built-in-generator-less" API design from the original design doc. Will need to confirm this wi

[2019-12-09 20:38] ribrdb commented on #6
I just ran into this issue. I've been working on something similar to what you proposed above, and it was working for custom languages. But I just tried to use it for generating js and discovered that there's no --js_opt flag.

[2019-12-09 21:48] Yannic commented on #6
Coincidently, I was also trying it with `--js_opt`🤣.

Looking at the code, I see that some generators (e.g. C++) already allow `--cpp_opt`,
while some others don't (e.g. JS). Submitted https://github.com/protocolbuffers/protobuf/pull/6999 to make the remaining generators match what plugins can do, so discard my last comment.

[2019-12-12 20:25] indragiek opened #41 "Pass -fvisibility=hidden when compiling C++ proto runtime"
Is there a way to pass additional flags for compiling the C++ proto runtime? I'm trying to pass `-fvisibility=hidden` to avoid exporting symbols, but cannot find an obvious way to do so. Wrapping a `cc_proto_library` in a `cc_library` with the flag set doesn't seem to do anything, because the flag isn't passed transitively to the dependencies.

[2019-12-18 14:06] Yannic opened #43 "Renovate bot should update @bazel_toolchains"

[2019-12-18 15:26] Yannic commented on #41
I don't think this is possible. Would it be possible to add a custom linker script that hides the symbols from the proto runtime?

[2019-12-18 22:27] indragiek commented on #41
@Yannic I'll give that a try, thanks.

[2019-12-19 04:33] bazel-flag-bot opened #44 "Flag --incompatible_use_platforms_repo_for_constraints will break rules_proto in Bazel 1.2.1"
Incompatible flag --incompatible_use_platforms_repo_for_constraints will break rules_proto once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [RBE (:ubuntu: 16.04, OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#ceb184b6-094f-4205-8b66-be7dc559b4df" target="_blank">RBE (:ubuntu: 16.04, OpenJDK 8)</a>)

Questions?

[2019-12-19 13:24] Yannic commented on #44
I'm not sure where the failure is coming from (we don't use platforms directly). Since it's only failing on RBE, I'm suspecting that `@bazel_toolchains` is to blame.

[2019-12-29 15:06] Yannic opened #45 "Provide rule to collect transitive closure of descriptors into one file"
The descriptor set created by `proto_library` only includes descriptors from direct sources. Adding `--include_imports` is viable because it's said to have huge implications on the descriptor-size, which is problematic for large proto-graphs (https://github.com/bazelbuild/bazel/issues/4201#issuecomment-350841732).

As pointed out in, e.g., https://github.com/bazelbuild/bazel/issues/4201, some tool

[2019-12-29 15:12] Yannic opened #46 "Should rules_proto provide a rule to generate docs from .proto files"
Generating docs for Protobuf message/services is a common use-case, so it would be nice to provide a way to generate them. I'm a bit on the edge of whether this rule should be part of `rules_proto` or be part of another repo.

What do people think?

[2020-01-14 04:30] Groxx commented on #7
Since I've so far failed to find them: where are the native ones defined?

[2020-01-14 18:03] Yannic commented on #7
They are defined in `BazelProtoLibraryRule.java` and `ProtoLangToolchainRule.java` here: https://source.bazel.build/bazel/+/master:src/main/java/com/google/devtools/build/lib/rules/proto/

[2020-02-03 11:56] #44 closed

[2020-02-05 19:27] dmivankov commented on #35
Tried the PR, didn't quite work for me
[code]

[2020-02-05 20:49] mleonhard commented on #35
Compiling protoc adds about 8 minutes to our CI build time.  This adds an extra eight minutes of downtime to any outage that requires a code fix.

[2020-02-05 22:02] dmivankov commented on #35
Adding a cache to builds can help with that, but that's of course a bunch of extra setup

[2020-02-10 13:53] dmivankov commented on #35
Ok, "not a regular file" was due to this PR assuming repository will be consumed under rules_proto name (@rules_proto//proto/private:BUILD.release reference)

Next up was
[code]
The fix is to replace srcs with tools in _protoc_binary_impl

There's also a typo in proto/private/dependencies.bzl "com_google_protobuf_protoc_windows_x86-64" should be "com_google_protobuf_protoc_windows_x86_64"

But the

[2020-03-12 21:15] artemyarulin opened #50 "Documentation of rules_proto"
Hi, README tells to check documentation at https://docs.bazel.build/versions/master/be/overview.html which has a link to https://docs.bazel.build/versions/master/be/protocol-buffer.html which has deprecated message for all rules and advice to check https://github.com/bazelbuild/rules_proto which has a README, GOTO 1;

[2020-03-23 13:08] Yannic commented on #50
Sorry for the slow response.

We do not have generated docs for the rules in this repo yet, hence the reference to https://docs.bazel.build/versions/master/be/protocol-buffer.html. `rules_proto` is intended to be a drop-in replacement, so the two rulesets follow the exact same API. Just make sure to include the load statement in the BUILD file(s).

We should clarify the documentation in the readme

[2020-03-23 13:13] artemyarulin commented on #50
Yeah, thanks, later on I've found your response in https://github.com/bazelbuild/rules_proto/issues/18#issuecomment-523842651 which helped me a lot, everything works just fine.

Thanks for your response and this project 👍

[2020-05-08 17:39] htuch commented on #45
FWIW, we (Envoy) have built a rule that does this, see https://github.com/envoyproxy/envoy/blob/master/tools/type_whisperer/file_descriptor_set_text.bzl. It would be great to have this built-in to `rules_proto` though. Feel free to borrow from this if you want to upstream a PR.

[2020-05-09 19:29] kgreenek commented on #35
One large drawback to distributing protoc as a pre-built binary is that it is currently not possible to determine the host architecture from the WORKSPACE file.

This means that you couldn't easily determine which protoc binary to download (e.g. x86_64, aarch64, windows, etc.), and you'll likely break some of those architectures.

Here is an example of a project that went down this road and got bi

[2020-05-10 15:47] Yannic commented on #35
@kgreenek Thanks for bringing this up! @ribrdb PR (#36) works around this by declaring one workspace per architecture and uses `select()` to choose the binary during analysis/configuration (as opposed to `rules_docker`, which commits to a binary in the loading phase). If no pre-built `protoc` is available, `protoc` is built from source.

Does that answer your concerns?

[2020-05-10 17:38] kgreenek commented on #35
Ah I see. That works for me. And I see aarch64 is supported too. Thanks!

[2020-05-12 00:04] naturalwarren opened #55 "Generate Protos from Upstream JARs"
Some services and libraries publish JARs with `.proto` files only. It would be nice if `rules_proto` would handle generating Java classes from proto only JAR files. One of the original motivations behind this pattern was to avoid dependency conflicts between consumers and producers of `.proto` files.

Tools like the Gradle Protobuf Plugin make this a breeze. See the ["Protos in Dependencies"](http

[2020-05-13 09:17] Yannic commented on #56
Duplicating into bazelbuild/bazel#9337

TL;DR: Bazel introduced `--experimental_proto_descriptor_sets_include_source_info` which passes `--include_source_info` when compiling the descriptor set of `proto_library` targets. It may become the default in the future.

[2020-05-13 09:17] #56 closed

[2020-05-13 09:19] Yannic commented on #57
Duplicating into #45

TL;DR `rules_proto` should provide a rule for this (similar to @drigz's rule above).

[2020-05-13 09:19] #57 closed

[2020-05-13 09:32] Yannic commented on #55
On first sight, it looks like we'd need to read the content of the `.jar` when creating `ProtoInfo` (i.e. during analysis). If the `.jar` is generated by another action, we'd need to execute that action before finishing analysis, which isn't really compatible with Bazel (and even if it is possible, has an impact on analysis scalability).

I'll leave this open for now in case someone has an idea ho

[2020-05-13 09:39] Yannic commented on #58
A lot has changed since 2018 (e.g. the aforementioned `proto_source_root` has since been removed), so I'm not sure if this is still an issue.

There's also work going on to change how `.proto` files are compiled (e.g. bazelbuild/bazel#10939, bazelbuild/bazel#1005), which will definitely fix this (in case it isn't already fixed).

[2020-05-24 04:04] jathu opened #59 "Create versioned releases"
Is it possible to create versioned releases to match the protoc version being used in the dependency? This makes it easier to view the version in the WORKSPACE vs. the Git SHA.

[2020-06-01 09:14] amit-traiana opened #60 "proto_library per .proto file?"
I'm slightly confused with how to build my BUILD files. In the Official documentation, there's best practice that suggests `One proto_library rule per .proto file`. So it means if my project has three `.proto` files, I will have 3 `proto_library` targets.

So far so good. However, it's a big project, and portion of it include Go code - and for that, we use `Gazelle`. When `Gazelle` generate a BUIL

[2020-06-02 15:04] amit-traiana commented on #60
Closing. It seems Gazelle want at some point to align with the official documentation, one proto_library target per file.

[2020-06-02 15:04] #60 closed

[2020-06-16 20:26] naturalwarren opened #62 "Support Not Generating Transitive Proto Dependencies"
Alternative proto rulesets (namely [stackb](https://github.com/stackb/rules_proto/tree/master/java#java_proto_library)) support not generating Java byte code for `proto_library.deps()` via a `transitive` attribute.

Today, `java_proto_library` generates bytecode for both a `proto_library`'s `srcs` and `deps` attributes. Generating bytecode for `deps` can lead to duplicate class exceptions if the c

[2020-06-18 22:17] Yannic commented on #62
AFAICT, this should be possible today if you define your own `proto_lang_toolchain` and adding the `.proto` files that are packed into the `.jar` to `blacklisted_protos`.

Generating code for transitive (non-blacklisted) protos is by design so you don't have to explicitly mirror the proto-graph for every language, so I think it's unlikely that a transitive attribute will be supported.

[2020-08-07 04:14] rickwebiii opened #63 "Java jules fail with Bazel 3.4.1 due to errorprone GuardedBy violation in grpc_java"
If you call `java_repos` in your WORKSPACE and use a `java_grpc_library` rule with Bazel 3.4.1, your build fails because compiling the GRPC dependency encounters GuardedBy errorprone violations and the build fails. I repro'd this on Windows, but it should fail on every OS due to the nature of the error.

I first tried bumping the dependency to a released tag version, but ran into compile errors (e

[2020-08-07 09:19] Yannic commented on #63
Looks like this is a question about https://github.com/rules-proto-grpc/rules_proto_grpc

@aaliddell ptal

[2020-08-07 17:48] rickwebiii commented on #63
Doh, this is the wrong repository. I'll go post over there :)

[2020-08-07 17:48] #63 closed

[2020-08-25 19:41] pgr0ss opened #67 "Compilation failure with grpc-java"
I tried upgrading grpc-java in my project from 1.29.0 to 1.31.0, but received this compilation error:

[code]

I _think_ this is because we need at least protobuf 3.12.0 now, but the rules seem to hardcode 3.11.3:

https://github.com/bazelbuild/rules_proto/blob/40298556293ae502c66579620a7ce867d5f57311/proto/private/dependencies.bzl#L29

https://github.com/grpc/grpc-java/releases/tag/v1.30.0

Is it

[2020-09-11 21:13] sgammon commented on #46
@Yannic my vote would be yes. I just tried to get `protoc-gen-doc` to work with `rules_proto`, to accomplish this very feature, but I've been unable to figure out how to easily invoke it (i.e. `proto_lang_toolchain` seems meant for other purposes, so I've resorted to macros, which are tough w.r.t. transitive dependencies)

I think it would be awesome if documentation could be generated directly fr

[2020-09-15 17:26] flolu opened #70 "Cannot Import from Another Proto File"
I have two `.proto` files:
- `empty.proto`
[code]
- `message.proto`
[code]

I import `empty.proto` into `message.proto`

My `BUILD` file looks like this:
[code]

But building the project throws those errors:
[code]
Is this a bug, or am I doing something wrong?

### I've created a small repro:
https://github.com/flolu/rules_proto-import-repro where you can try it yourself.

[2020-09-20 02:32] dwtj commented on #67
While tinkering with `rules_proto`, I was also seeing this build error. Switching to this PR from @Yannic fixed the problem for me for now. Thanks. :+1:

[2020-09-22 12:33] cdickson-sum commented on #46
@Yannic my vote would also be yes. My experience is largely the same as @sgammon.

[2020-09-29 19:48] alexeagle commented on #35
Can this be closed since #36 was merged?

[2020-09-29 20:33] Yannic commented on #35
Yes. Thank you for working on this @ribrdb!

[2020-09-29 20:33] #35 closed

[2020-10-11 15:24] prestonvanloon opened #71 "How to specify --experimental_allow_proto3_optional?"
I am trying to use proto3 optional (new with protoc v3.12.0) in bazel, but not sure how to specify this flag on proto_library / proto descriptor sets.

Any ideas?

[2020-10-11 15:46] prestonvanloon commented on #71
I also filed https://github.com/bazelbuild/rules_go/issues/2673 since my ultimate goal is to use this in a go library. Thanks

[2020-10-26 07:17] yishanhe commented on #70
@flolu since they are two different package, you may beed to use full path

[code]

[2020-10-26 09:46] Yannic commented on #71
You can pass `--protocopt=--experimental_allow_proto3_optional` on the command-line when invoking bazel to pass the flag to `protoc` when creating the descriptor set (or add it to you `.bazelrc`). However, the value of the flag is currently not exposed to Starlark, so `go_proto_library` won't see it and you'll have to use a different mechanism to add it when generating Go code.

[2020-10-26 09:51] Yannic commented on #70
Protobuf doesn't allow relative imports like C/C++ does. You'll either have to use the `WORKSPACE`-relative path to import `empty.proto` or, if that's not possible for some reason, add `strip_import_prefix = "/" + package_name()` to the `proto_library` targets.

[2020-10-27 08:33] #67 closed

[2020-11-18 00:19] emcfarlane commented on #67
I'm still seeing this with the latest `grpc-java` release:
[code]
Is there a new release?

[2020-11-18 11:52] gibfahn opened #73 "Need ability to specify other versions of protoc"
Many tools require us to specify other versions of `protoc` than the default that comes with the ruleset, and it would be really nice to be able to specify that in the arguments to the rules_proto setup.

The biggest issue with this is specifying the sha256s, rules_go does this by having a checked-in list: [`sdk_list.bzl`](https://github.com/bazelbuild/rules_go/blob/master/go/private/sdk_list.bzl)

[2020-11-20 01:34] Yannic commented on #43
Not happening

[2020-11-20 01:34] #43 closed

[2020-11-20 12:48] simuons opened #76 "Extract protobuf_workspace to a separate repository"
Released `protoc` binaries are great. It saves a lot of build time. Thanks for doing this!

However, maybe this could be extracted to a separate repository?

If I have to use `rules_proto` directly then the setup is really simple (just call `rules_proto_dependencies` in my workspace and it's done).

But things are getting slightly complicated for rules authors where rules depend on `protoc`. It's

[2020-12-11 22:36] 0xKiwi commented on #71
Hey @Yannic , I've tried passing `bazel build //:test_proto --protocopt=--experimental_allow_proto3_optional` to my bazel `proto_library` target and it errors with:
[code]

It doesn't seem to see the flag, I've also tried with `--protocopt=experimental_allow_proto3_optional=true` and that errors as well.
[code]

I am using the latest version of bazel, `github.com/golang/protobuf v1.4.3` and `googl

[2020-12-15 15:12] gibfahn commented on #73
Update, rules_go moved to downloading this each time: https://github.com/bazelbuild/rules_go/pull/2729

[2020-12-18 07:38] cpsauer opened #78 "Updating to Protobuf 3.14"
Hi all! Any chance you'd consider an update to protobuf 3.14?

[The Bazel Intellij/Android Studio plugin [currently seems broken](https://github.com/bazelbuild/intellij/issues/2265) on a [protobuf bug said to be fixed in 3.14](https://github.com/protocolbuffers/protobuf/issues/7827) and lack of rules_proto support for 3.14 is preventing recommending an update to the latest rules_proto.]

Thanks!
C

[2020-12-28 17:28] olekw commented on #59
I'll need a versioned release to package this for Debian, @meteorcloudy. Is that possible?

[2020-12-28 18:06] olekw opened #79 "Please document copyright holders"
Please add an AUTHORS file or similar that documents who holds the copyright for this project.

[2020-12-28 18:07] olekw commented on #79
cc: @meteorcloudy

[2021-01-05 15:20] meteorcloudy commented on #79
/cc @Yannic Can you help fix this?

[2021-01-05 15:21] meteorcloudy commented on #59
@comius @Yannic Any plan for making release for rules_proto?

[2021-01-14 18:18] 0xKiwi commented on #71
Hello @Yannic! Bumping to see if there has been any progress on this issue. Any way the optional flag can be passed to Starlark?

[2021-01-15 11:29] #79 closed

[2021-01-15 14:18] Yannic commented on #71
Looks like your version of protoc doesn't support optionals. You can run `bazel run @com_google_protobuf//:protoc -- --version` to check which version of protoc you're running.

[2021-01-15 14:26] Yannic commented on #58
Fixed in  bazelbuild/bazel#10939

[2021-01-15 14:26] #58 closed

[2021-01-15 19:47] 0xKiwi commented on #71
Hello @Yannic , thank you for confirming my version. I've updated it now.
[code]
bazel build //:test_proto --protocopt=--experimental_allow_proto3_optional
INFO: Build option --protocopt has changed, discarding analysis cache.
INFO: Analyzed target //:test_go_proto (0 packages loaded, 7758 targets configured).
INFO: Found 1 target...
ERROR: /home/kiwi/go/src/github.com/prysmaticlabs/protoc-gen-go-

[2021-01-20 04:25] aijingyc commented on #78
Please update the commit/version hash in the README. Thanks!

[2021-01-27 15:48] limdor commented on #59
Now that Bazel 4 has been released and the issue with ProtoInfo has been fixed, it would be a nice moment for a release.

[2021-02-09 14:25] #45 closed

[2021-03-14 21:32] #70 closed

[2021-03-25 14:58] olekw commented on #59
Any progress on making a release?

[2021-03-25 17:15] DavidKorczynski opened #85 "Propagating copts to proto_library"
Hi,
I have an issue when declaring a `proto_library` for a given `.proto` file. The `proto_library` will output a rule `XX_cc_proto` which is the one that compiles the generated `.pb.cc` file as far as I can understand. However, I would like to append a set of `copts` to the compilation of the `.pb.cc` file when it happens - and it would be great if these could for example be target specific (vari

[2021-03-25 17:23] DavidKorczynski commented on #85
This might be a duplicate of https://github.com/bazelbuild/rules_proto/issues/41

Has any changes happened on this issue?

[2021-04-01 12:02] meteorcloudy commented on #59
Ping @comius @Yannic ~

[2021-04-05 16:30] olekw commented on #59
To clarify, we don't need a "binary" release to package this in Debian. We just need a source release since we build everything from source anyway. So just a "0.0.1" release tag would suffice for our purposes.

[2021-04-06 15:30] avdv commented on #73
Hi.

In a similar way, is it possible to avoid using the binaries for my current system?

Reason is that the binaries do not work:
[code]
How can I force the rules to skip the select? TIA!

[2021-05-09 17:34] andrewkatson opened #86 "Missing mandatory provider on Windows"
The example https://github.com/cgrushko/proto_library does not build on Windows.

[code]

[2021-05-10 14:27] andrewkatson opened #87 "Windows cc protobuf building is broken"
If you try to use ```compiler=mingw-gcc``` on Windows you cannot build any protos.

[code]

And the error message is not particularly helpful which compounds the issue.

I used protos at https://github.com/andrewkatson/KeirosPublic.git

[2021-05-10 15:50] DrewGlinsman commented on #86
I've been able to reproduce this error on my end as well.

[2021-05-10 15:51] DrewGlinsman commented on #87
Mingw-gcc is not working for me either.

[2021-05-20 06:03] tandel-pratik commented on #78
This PR will updates to the newest protobuf version https://github.com/bazelbuild/rules_proto/pull/88

[2021-05-28 01:09] neakor opened #89 "How to import proto source from another target"
I have two targets one uses a a `genrule` to create a `proto_library` and other that needs to import the source proto file and use it.

Dependency target:
[code]

Dependent target:
[code]

Dependent proto file importing the dependency proto file:
[code]

When I try to build this, I get the error:
[code]

How should I properly do this?

[2021-05-28 10:43] Yannic commented on #89
I don't see `bazel2/proto` anywhere. Can you create a repo with an example that fails and share the link?

[2021-05-28 10:45] Yannic commented on #87
I don't have a Windows machine to repro this. Would you mind running with `--verbose_failures` and share the output?

[2021-05-28 10:46] Yannic commented on #86
Should be fixed by #88

[2021-05-28 10:48] Yannic commented on #86
Actually, looks like this is already fixed at head. Can you upgrade to the latest commit and try again?

[2021-05-28 16:03] andrewkatson commented on #86
A little bit of a noob question but how do I rebuild bazel from head so I can get the exe? I built the top level and I got nothing resembling the bazel.exe I need.

[2021-05-28 16:10] andrewkatson commented on #87
[code]

[2021-05-28 16:16] neakor commented on #89
@Yannic `bazel2/proto` is pulled from the `genrule` which comes from the external Bazel repo. It's basically the Bazel proto definitions.

[2021-05-28 17:54] neakor commented on #89
NVM. The issue is that the dependent `go_proto_library` target also needs to explicitly declare the dependency `go_proto_library` in its `deps` field.

[2021-05-28 17:54] #89 closed

[2021-06-12 23:11] mlekena commented on #86
The package linked in the archive link following the README needs to be update to the latest commit. When pulling the package down specifically using the latest commit hash, I am able to build projects.

That is, use
[code]

[2021-06-15 20:33] andrewkatson commented on #86
Did you test that on Windows? I got a different error

[code]

[2021-07-07 21:00] c-parsons opened #91 "Bazel CI fails with Bazel@HEAD"
Breakage example: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2091#c17c0576-e53f-40b5-8519-7b4e70af06b2

Culprit: https://github.com/bazelbuild/bazel/commit/7800ff9eb2dc0b4b3b7a2e6b8a908078f3e73d3b

Temporary solution: Run CI builds with `--incompatible_enable_exports_provider`. We'll need to follow up to fix these builds before the flag may be removed.

[2021-07-07 21:07] c-parsons commented on #91
Temporary solution PR: https://github.com/bazelbuild/rules_proto/pull/92

[2021-07-07 22:34] comius commented on #91
Can you upgrade rules_jvm_external used in rules_proto? It has been fixed not to use exports provider and it works with older Bazel versions as well.

[2021-07-08 00:03] c-parsons commented on #91
Whoops, even worse, I misread the breakage and it's for https://github.com/protocolbuffers/protobuf, not rules_proto.

[2021-07-08 00:03] #91 closed

[2021-07-15 17:12] markabdallah opened #93 "Google Endpoint descriptor file error"
For some reason, I'm getting an error when trying to deploy to google endpoints. Here is a preview of my WORKSPACE:

[code]

BUILD

[code]

It used to work a couple of days ago, and now I'm getting this error:

[code]
Any idea what the issue can be?

Thanks a lot!

[2021-07-23 09:24] meteorcloudy commented on #87
It looks like the protoc compiler doesn't work when compiled with "mingw-gcc"? You can try to directly run this binary `bazel-out/x64_windows-opt-exec-2B5CBBC6/bin/external/com_google_protobuf/protoc.exe` and see what happens?

BTW, why do you want to use `compiler=mingw-gcc`?

[2021-07-24 14:20] andrewkatson commented on #87
Okay ill try that out. I have some code that for the life of me won't compile with MSVC

[2021-07-26 07:52] meteorcloudy commented on #87
Can you also try the full commmand?
[code]

[2021-08-04 08:18] andrewkatson commented on #87
Weird, in my case bazel-out is not a directory but rather a single file. So i cannot run that command. Do you know why this might be?

[2021-08-04 10:26] meteorcloudy commented on #87
@andrewkatson Yes, you can check what libraries it is linked to by `ldd <the protoc.exe>` (you have run this command in msys)

[2021-08-04 22:25] andrewkatson commented on #87
ahhhh that should be helpful thank you!

[2021-08-23 00:31] gioannidis opened #95 "Update rules_cc dependency to more recent commit"
`rules_proto` pulls the `rules_cc` dependency at commit [`b7fe969`](https://github.com/bazelbuild/rules_cc/commit/b7fe9697c0c76ab2fd431a891dbb9a6a32ed7c3e) from 2019-07-22. This commit misses the [`action_names.bzl`](https://github.com/bazelbuild/rules_cc/blob/main/cc/action_names.bzl), which was created a month later at commit [`4a1c578`](https://github.com/bazelbuild/rules_cc/commit/4a1c578fb0e2

[2021-08-24 04:26] Kernald opened #96 "How to set `--fatal_warnings`?"
Is there a way to enforce that every `proto_library` target are compiled with `--fatal_warnings`?

For reference, this flag was added [here](https://github.com/protocolbuffers/protobuf/pull/8131), and causes the compilation to fail if a warning is raised, like `-Werror` with GCC.

[2021-10-12 17:03] c-parsons opened #101 "Update dependency on bazel_skylib"
Bazel CI for Bazel@HEAD and rules_proto is currently [failing](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2211#f6e29aaa-a080-46d9-a5ed-c70a7ad7ea48), indicating an upcoming change to Bazel will break rules_proto.

This is because rules_proto depends on a version of bazel_skylib which is incompatible with upcoming Bazel changes. rules_proto should updates its version of bazel_

[2021-10-12 17:22] Yannic commented on #101
Thanks for reporting! I think we haven't upgraded `bazel_skylib` (+ other dependencies) in a while, so we should do that.

I'll be on vacation for the next few days, so if anyone wants to send a PR for it, go for it. Otherwise I'll send a change later next week.

[2021-10-28 22:47] uKetki opened #103 "Error: file '@rules_proto_grpc//:defs.bzl' does not contain symbol 'ProtoLibraryAspectNodeInfo'"
I recently updated the `rules_proto` from version 3.1.1 to 4.0.1. While doing that, I am getting the below error:
`Error: file '@rules_proto_grpc//:defs.bzl' does not contain symbol 'ProtoLibraryAspectNodeInfo'`

Earlier version:
[code]
Newer version:
[code]

The complete proto configuration looks something as follows:
[code]

[2021-10-31 17:12] Yannic commented on #103
This is about `rules-proto-grpc/rules_proto_grpc`. @aaliddell can you take a look?

[2021-10-31 18:42] aaliddell commented on #103
Sure, I've copied this over there to keep your notifications down. See https://github.com/rules-proto-grpc/rules_proto_grpc/issues/156

[2021-11-10 22:02] perezd opened #106 "pkg_zip failing on windows w/ Bazel 4.0.0"
Error message:

[code]

Here's the BUILD target:
https://github.com/protocolbuffers/protobuf/blob/master/BUILD#L575

Any pointers? Any other context I can provide?

Python version: 3.9.8

[2021-11-10 22:04] perezd commented on #106
No, this is a problem with rules_pkg. I am on the protobuf team.

[2021-11-10 22:04] perezd commented on #106
We're attempting to use rules_pkg in protobuf's repo.

[2021-12-31 18:57] sualehasif commented on #95
Bump on this

[2022-01-26 21:47] Yannic commented on #103
Closing due to lack of activity. There was also no activity in rules-proto-grpc/rules_proto_grpc#156

[2022-01-26 21:47] #103 closed

[2022-02-04 10:05] comius commented on #7
Two years after the last comment, I'll publish the roadmap shortly :)

[2022-02-04 10:33] comius commented on #55
True, you can't read content of .jar file during analysis where you'd need at minimum the names of .proto files (otherwise you don't know what file names to generate).

Bazel can only be fast and incremental when it knows dependencies among .proto files. It performs best when a single .proto file corresponds to a single proto_library target.

[2022-02-04 10:33] #55 closed

[2022-02-08 07:49] #71 closed

[2022-02-08 07:51] comius commented on #85
duplicate of https://github.com/bazelbuild/rules_proto/issues/41

[2022-02-08 07:51] #85 closed

[2022-02-08 07:52] comius commented on #73
Toolchainisation of protoc should make this possible.

[2022-02-08 07:54] comius commented on #93
This doesn't look like proto rules issue.

[2022-02-08 07:58] comius commented on #96
Try using `--protocopt=--fatal_warning`.

[2022-02-08 21:32] Kernald commented on #96
`--protocopt=--fatal_warnings` indeed seems to work. I'm happy to either close this or leave it open to have a way to set this directly in the toolchain configuration in Bazel - not sure what's the most common way to do this kind of things.

[2022-02-08 21:35] Yannic commented on #96
We should have a way to specify protoc-opts in the (not-yet-existing) `proto_toolchain` in addition to the command-line.

[2022-02-10 16:58] andrewkatson commented on #87
Okay! MSVC is broken too. The error just gets ignored. I feel like this is kind of important.

[code]

[2022-02-10 23:58] andrewkatson commented on #87
1. Move the following files into `C:\msys64\mingw64\bin`
`ntdll.dll`
`KERNEL32.DLL`
`KERNELBASE.dll`
`msvcrt.dll`
2. `bazel clean --expunge`
3. profit (build)

That fixes it!!!!

[2022-02-10 23:58] #87 closed

[2022-02-19 22:01] #39 closed

[2022-02-24 05:49] plaird commented on #55
I created a simple macro to accomplish this task, and published it in case it helps others.

*proto_extract* example: https://github.com/salesforce/bazel-demo/tree/main/other_usecases/java/proto-java-srcjar

[2022-03-22 13:57] googleson78 opened #115 "[Feature request] Allow users to recompile protoc"
I would like to have some way to tell `rules_proto` "please recompile protoc".

I came upon this while trying to use rules_proto on nixos, which doesn't have ld in /lib64/ld-linux-x86-64.so.2, as is expected by the prebuilt binaries. If it's instead rebuilt, things work fine.

I've implemented *some* solution in #114

[2022-03-22 16:22] Yannic commented on #115
Most Starlark rules hardcode `@com_google_protobuf//:protoc` because the flag is not exposed, so I'm not super surprised that doesn't work.

Can you share which language/`<lang>_proto_library` rule this is please?

[2022-03-22 16:28] googleson78 commented on #115
`go_proto_library` and `ts_proto_library` both fail.

[2022-03-22 16:40] Yannic commented on #115
As expected, `go_proto_library` hardcodes it: https://github.com/bazelbuild/rules_go/blob/8553d97674742ad4c110cffa999017db21052b97/proto/compiler.bzl#L218

[2022-03-23 06:54] comius commented on #115
This is a problem of `go_proto_library` and `ts_proto_library`. I'm working on proposal that will expose the right functionality so those implementations can be fixed (but they can't be fixed at the moment).

https://docs.google.com/document/d/1dY_jfRvnH8SjRXGIfg8av-vquyWsvIZydXJOywvaR1A/edit

[2022-03-29 16:34] ptarjan opened #116 "Please update to proto 3.20"
It has some logspew fixes in there that I would like to pull in. Thanks!

[2022-03-29 19:18] ThomasCJY opened #118 "Bump zlib version to 1.2.12"
According to https://zlib.net/
[code]
We need to bump the zlib version in the repo

PR: https://github.com/bazelbuild/rules_proto/pull/117

[2022-03-31 01:29] caseyduquettesc commented on #118
zlib 1.2.11 was pulled it seems
https://zlib.net/zlib-1.2.11.tar.gz 404's for me

[2022-03-31 17:36] #118 closed

[2022-03-31 17:37] ThomasCJY commented on #118
PR: https://github.com/bazelbuild/rules_proto/pull/117 merged

[2022-04-06 06:24] comius commented on #116
This was done, see https://github.com/bazelbuild/rules_proto/pull/113

[2022-04-06 06:24] #116 closed

[2022-04-28 11:59] zzerroo opened #119 "The address of zlib is invalid"
the address of zlib: https://zlib.net/zlib-1.2.11.tar.gz  is invalid, it can be modified to http://github.com/madler/zlib/archive/v1.2.11.tar.gz, also the value of sha256 should be changed.

[2022-05-05 02:38] #119 closed

[2022-05-05 02:38] zzerroo commented on #119
my fault

[2022-05-16 18:48] mohitkriplani1998 opened #120 "protoc: argument list too long"
Building a rules_proto bazel rule results in below error:
[code]
How to handle such errors?

[2022-05-17 18:48] SanjayVas opened #121 "Add `protobuf_lite` target to protobuf_workspace"
`@com_google_protobuf//:protobuf_lite` is a common dependency. It's not defined when `@com_google_protobuf` is included by `protobuf_workspace`.

I'm hoping this is just a matter of adding it to [`redirect_targets`](https://github.com/bazelbuild/rules_proto/blob/3212323502e21b819ac4fbdd455cb227ad0f6394/proto/private/BUILD.release#L55)

[2022-06-04 10:23] davidgiven opened #122 "Add a rule for encoding textprotos"
i.e. the equivalent of `protoc --encode=$MESSAGETYPE`. This is useful when embedding binary protos in applications. Something like:

[code]

This can already be implemented with something like this:

[code]

However, this is very clunky: it requires a hard-coded dependency on the system proto compiler rather than using the same one by the rest of the Bazel stuff (I can't tell if this is exposed an

[2022-06-08 13:37] davidgiven opened #123 "Version 4.0.0 refers to a horribly broken version of protobuf"
So version 4.0.0, which is called out by name in the README as the recommended version, is actually pulling in version 3.17.0 of the protobuf library. This contained a really nasty typo and wouldn't compile: see https://github.com/protocolbuffers/protobuf/issues/8611.

As that's now over a year old, any chance of getting a 4.0.1 released, or at least having the README updated to point to 4.0.0-3.2

[2022-06-24 07:00] xiedeacc opened #126 "generate a wrong platform protoc.exe when cross compile"
my project import rules_proto and grpc, when I cross compile for arm with with --incompatible_enable_cc_toolchain_resolution and --platforms, it generated protoc.exe for arm, so protoc.exe cannot executed on build host( x86_64 linux), so build grpc will fail, I'm not sure it's grpc problem or rules_proto problem. here it's a demo:
[https://github.com/xiedeacc/tbox](https://github.com/xiedeacc/tbox

[2022-06-24 10:54] daohu527 opened #127 "Does the proto_library rule generate a .h file?"
I meet an error with `proto_library` and `generate_cc` conflicted, they both generate the proto ".h" file, then my question is "Does the proto_library rule generate a .h file?".

[2022-06-28 02:08] xiedeacc commented on #126
@Yannic can U see see?

[2022-06-29 07:11] xiedeacc commented on #126
@thii can u cc?

[2022-07-01 10:06] xiedeacc commented on #126
can anybody take a look please?

[2022-07-07 07:31] xiedeacc opened #128 "does rules_proto support cross compile use —platforms option"
As title

[2022-07-07 11:01] Yannic commented on #128
`proto_library` does not do anything platform specific, so I think the answer is yes. Compiling the generated source files (e.g., C++ or Java) requires a, e.g., C++/Java toolchain supporting cross compilation though.

[2022-07-07 11:01] #128 closed

[2022-07-07 11:02] Yannic commented on #127
`proto_library` does not generate anything C++ specific (or any other language). There might be a `cc_proto_library` somewhere in your build graph generating that header.

[2022-07-07 11:02] #127 closed

[2022-07-07 11:07] #59 closed

[2022-07-07 11:12] Yannic commented on #86
The issue here is that you're somehow using an older version of `com_google_protobuf`. Bazel requires `3.17.0` or later (maybe even newer than that by now?). I recommend running `bazel run @com_google_protobuf//:protoc -- --version` to check which version of protobuf you're actually using if anyone still sees this issue.

[2022-07-07 11:18] Yannic commented on #126
`protoc` is built for the execution platform (since we need to run it as part of the build), so it seems to me that the execution platform is somehow misconfigured. Can you share the exact command you're running?

[2022-07-07 12:57] xiedeacc commented on #126
--incompatible_enable_cc_toolchain_resolution --platforms=@bazel_build_file//platforms:linux_gcc11_aarch64_none_musleabi

[2022-07-07 13:08] xiedeacc commented on #126
@Yannic demo may have toolchain download problem, but I have checked, it's fine, if demo has any problem, tell me, I'll fix it

[2022-07-09 03:06] xiedeacc commented on #126
after I check rules_proto source code, I found my platforms value passby was
[code]
and I defined a toolchain
[code]
exec_compatible_with indicate it's for cross compiling,  but rules_proto use target_compatible_with values I guess,

so  cpu:aarch64 and os:linux will be recognised by rule_proto in BUILD.release, so :linux-aarch64": "@com_google_protobuf_protoc_linux_aarch64//:protoc" be selected.

[2022-07-09 03:10] xiedeacc commented on #126
maybe it's not rules_proto problem, I think may need bazel make select more flexible

[2022-07-09 03:29] xiedeacc commented on #126
rules_proto need choose protoc platform by detect bazel excution platform(host), not by select, use select cannot support cross compile

[2022-07-09 04:15] abhillman commented on #18
+1

[2022-07-09 05:17] WaelKarkoub opened #129 "Add protoc arguments"

[2022-07-09 08:16] #129 closed

[2022-07-13 01:56] shaldengeki commented on #101
Looks like this was bumped in https://github.com/bazelbuild/rules_proto/pull/104 -- is this still necessary or desirable?

[2022-07-14 14:44] slai-nick opened #132 "Mismatching protoc versions"
Hi,

I can't get my head around this, I have been looking for help elsewhere but didn't get anything.
I am getting this type of error on a repo:
[code]
The setup:
- I am using a devcontainer based on https://hub.docker.com/r/armswdev/tensorflow-arm-neoverse
- The projects have several packages. Two of them are using protos, one use it for grpc, one just for the protocol buffer.
- The package depen

[2022-08-06 04:52] ZichaoNickFox opened #133 "Cannot open include file: 'google/protobuf/text_format.h': No such file or directory"
Hello, I encounterred really odd issue, and stucked for a couple of days. Could someone help?
https://stackoverflow.com/questions/73254664/bazel-build-failed-cannot-open-include-file-google-protobuf-text-format-h

[2022-08-23 03:23] MaleicAcid opened #135 "use rules proto with old version protobuf"
Hi all.Due to some historical reasons, I have to use protobuf3.5.1 in my project, and will only use cpp. Is it possible to use rules_proto with protobuf3.5.1 in a cpp project?

[2022-08-24 06:13] #95 closed

[2022-08-25 23:30] SanjayVas commented on #132
rules_proto appears to be currently still on protoc 3.20.0, where there were incompatible changes made in the protobuf C++ library in 3.21.0. The fix is making sure however your `com_github_protocolbuffers_protobuf` dep is pulled in, it's older than 3.21.0.

[2022-08-25 23:34] SanjayVas opened #136 "Incompatible with protobuf-cpp 3.21.0+"
`PROTOBUF_MIN_PROTOC_VERSION` was updated to `3021000`. The latest rules_proto release is still using protoc 3.20.0. The latest protobuf-cpp is 3.25.1.

[2022-08-29 18:38] SanjayVas commented on #136
Note sure about the priority here. This locks users of rules_proto to a protobuf version that's 6 releases behind and months old. As the official protobuf rules for Bazel, there should be a release policy that requires it to not lag too far behind protobuf releases.

[2022-08-29 18:44] comius commented on #136
The update should not be hard to do. We're accepting community contributions.

[2022-08-30 13:27] slai-nick opened #138 "Solving "This file was generated by a newer version of protoc""
I can't get over this one. I am not a bazel expert so not a lot of doubts about what could be happening.

I am trying to compile some protos in a project with this config:
- system: [arm tensorflow docker](https://hub.docker.com/r/armswdev/tensorflow-arm-neoverse)
- bazel: 5.3.0
- protoc on the system: 3.19.4

The workspace:
[code]

The error:
[code]

And this is the version restriction in graph.p

[2022-08-30 14:02] #138 closed

[2022-08-30 14:10] slai-nick commented on #132
How can I do that?
I see things in [here](https://github.com/grpc/grpc/blob/master/bazel/grpc_extra_deps.bzl) and maybe [here](https://github.com/grpc/grpc/blob/master/bazel/grpc_deps.bzl).
Honestly I have no idea how to get there and I would really appreciate some more help with this.

[2022-08-31 07:25] comius commented on #136
Thanks to @sagmor, the release was updated in https://github.com/bazelbuild/rules_proto/pull/139

[2022-08-31 07:25] #136 closed

[2022-08-31 07:26] comius commented on #132
https://github.com/bazelbuild/rules_proto/pull/139

[2022-08-31 07:26] #132 closed

[2022-08-31 07:31] comius commented on #133
It's unclear what you're doing. The protobuf library looks nothing like the one on github: https://github.com/protocolbuffers/protobuf/blob/main/BUILD.bazel#L188

[2022-08-31 07:32] #78 closed

[2022-08-31 07:33] comius commented on #6
I believe `proto_common` in Bazel is addressing this.

[2022-08-31 07:33] #6 closed

[2022-09-05 13:55] slai-nick opened #140 "Protoc mismatched version, follow up of #132"
Hi, following up #132
I am now using rules_proto from the master and still egt the same issue:

**WORKSPACE**
[code]

**BUILD 1**
[code]

**BUILD 2**
[code]

Error:
[code]

And by the way, I added `com_google_protobuf` to the WORKSPACE because without it I was getting:
[code]

This is seriously blocking me, I would be really thankful to anyone who is able to help me to get through it.
Thank you.

[2022-09-15 07:33] slai-nick commented on #140
Right now I am running in a fresh container, I am using rules_proto 19.2, I can check the protoc on the system:
[code]

So there is only one protoc installed, but still, somewhat bazel manage to tell me that:
[code]

This is seriously blocking me and I have no clue why is that and how can I solve it. It doesn't look like it should behave like that.
I would really appreciate some help please.

[2022-09-23 01:31] neumann-nico opened #148 "Update protobuf to v21.7 (security issue)"
There is a [security issue](https://github.com/protocolbuffers/protobuf/security/advisories/GHSA-8gq9-2x98-w8hf) in the currently used protobuf version (v21.5). Would be cool to update to ~v21.6~ v21.7

[2022-09-30 14:02] keithl-stripe opened #152 "I think you accidentally deleted the README for this repository"
Was https://github.com/bazelbuild/rules_proto/commit/b9461447dc2049c0bfe392ab785efaf8e6e1516d intentional? Now README.md just says

https://github.com/bazelbuild/rules_proto/blob/97f9ec1e0e2ae40306d605cf103e0b526c3cd61a/README.md?plain=1#L1-L2

[2022-10-06 08:32] #152 closed, assigned to nobody

[2022-10-13 23:50] lgalfaso opened #153 "Hash mismatch in rules_proto 5.3.0-21.5"
It looks like https://github.com/bazelbuild/rules_proto/commit/f371ed34ed7f1a8b83cc34ae96db277e0ba4fcb0 did not make it into the release rules_proto 5.3.0-21.5, so running `rules_proto_dependencies()` with this release fails.

[2022-10-18 14:32] neumann-nico commented on #148
Fixed by #154

[2022-10-18 14:32] #148 closed

[2022-10-29 00:02] mellery451 commented on #73
Hi,

can someone help me understand the current options for using a specific version/repository of protoc with rules_proto? I see there is a bazel command line flag `--proto_compiler` ...does that work and if so, what else is this issue trying to solve? Thanks.

[2022-11-12 06:22] Clement-Jean commented on #101
Could we update to 1.3.0? I can make a PR if you are ok with it